.bg-img {
  min-height: 100vh;
  background: #000 url("./Images/hero_02.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.gentium {
  padding: 50px 50px;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.3px;
  color: #fff;
  font-family: sans-serif;
}
.form {
  padding-left: 50px;
}
.p {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.btn {
  font-weight: 500;
}
